__pycache__
*.ckpt
*.pt
*.pth
/data
/exps
!install_env.sh
/weights
/temp
/results
.ipynb_checkpoints/
/TODO.txt
/deprecated
/temp_scripts
/.vscode
/runs
/tests
/meta_files
vis/
wandb/
val_demo_result/
model_ckpts/

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts
model_ts*.txt

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs

